body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li{
    list-style: none;
}

body.mode-light {
    background: #f7ecde;
    transition:  0.5s ease, color 0.5s ease;
}

body.mode-dark {
    background: #1c273c; 
    transition:  0.5s ease, color 0.5s ease;
}